/* 編輯個人資料彈出框樣式  */
#popupName{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #ffffff;
}

#popupName.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popupPerson{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #ffffff;
}

#popupPerson.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popupSave{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #ffffff;
}

#popupSave.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popupPost{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #ffffff;
}

#popupPost.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popupFans{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #ffffff;
}

#popupFans.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popupFollow{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #ffffff;
}

#popupFollow.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background:#111;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 25px;
    cursor: pointer;
    z-index: 1;
}
/* ------------------------------------------------------- */