body{
    background-color: black;
}
/*the property of the List*/
li{
    color: white;
   list-style: none;
   font-size: 18px;
}
/*the property of the part of the Menu part*/
.left-menu {
        width: 200px; /* Set width of the menu */
        position: fixed; /* Fixed position on the left side */
        top: 0;
        left: 0;
        background-color: black; /* Dark background for the menu */
        height: 100%; /* Make the menu fill the entire height of the page */
        overflow: auto;
        color: white;
    }
/*make sure 超連結will not appear and keep in white mode*/
a {
    color: white;
    text-decoration:none;   
}
/*the profile header in the List*/
.post-header img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 10px;
    }


      /* Dropdown container styles */
      .dropdown {
        position: relative;
    }
    /*the part inside the dropdown*/
    .dropdown-content {
        display: none;
        position: absolute;
        bottom: 100%; /* Positions the dropdown above the link */
        left: 0;
        background-color: #333;
        min-width: 160px;
        z-index: 1;
        border-bottom: 1px solid #ddd;
    }
    /*the cursor pass and the list inside Servic show up*/
    .dropdown:hover .dropdown-content {
        display: block;
    }
    /*keep the arrangement of the every option of the list inside in service*/
    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        display: block;
    }
   /*the prperty of the pop up */
    .content {
        margin-left: 220px; /* Ensure content is not hidden behind the menu */
        padding: 20px;
        width: 600px;
        color: aliceblue;
        align-items: right;
        text-align: center;
        
    }
    svg{
        width : 16px;
        height : 16px
    }