html{
    height: 100%;   /* 确保 html 和 body 高度为 100% */
    margin: 0;      /* 去除默认的 margin */
    padding: 0;     /* 去除默认的 padding */
}

.divLeft{
	position: sticky;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    color: white;
}

.divRight{
	position: relative;
    top: -100%;
    left: 50%;
    height: 600px;
    width: 50%;
    color: white;
}

body {
    background-color: black;
}

.imgSize{
	max-width: 10px;
    max-height: 10px;
    width: auto; /* 保持宽高比 */
    height: auto; /* 保持宽高比 */
}

.postImg{
    position: absolute;
}

.post{
    position: relative;
    width: 100%;
    min-height: 250px;
    /* background-color: aqua; */
}
.dfrespond{
    position: relative;
    width: 100%;
    height: 16%;
    /* background-color: aqua; */
}
.dcrespond{
    position: relative;
    left: 10%;
    width: 90%;
    height: 16%;
    /* background-color: aqua; */
}

.memberphoto{
    position: relative;
    width: 30px;
    height: 30px;
    font-size: 15px;
    /* background-color: green; */
}

.username{
    position: relative;
    top: -30px;
    left: 7%;
    width: 75%;
    height: 30px;
    /* background-color: blue; */
}

.membertext{
    position: relative;
    top: -30px;
    width: 100%;
    /* height: 108px; */
    overflow: hidden;
    white-space: pre-line;
    word-wrap: break-word;
    /* background-color: blueviolet; */
}

.more{
    position: relative;
    top: -30px;
    color: gray;
}

.love{
    position: absolute;
    bottom: 1px;
    left: 1px;
    width: 5%;
    font-size: 25px;
    /* background-color: pink; */
}

.myTime{
    position: absolute;
    bottom: 1px;
    left: 6%;
    height: 33px;
    width: 10%;
    font-size: 20px;
    /* background-color: orange; */
}

.respond{
    position: absolute;
    bottom: 1px;
    left: 17%;
    height: 33px;
    width: 10%;
    font-size: 20px;
    /* background-color: red; */
}

.memberrespond{
    position: absolute;
    top: 32%;
    width: 100%;
    height: 30%;
    /* background-color: blueviolet; */
}
