.divLeft {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: orange;
}

/* .divLeft {
    position: relative;
    height: 1000px;
    width: 1000px;
    background-color: firebrick;
} */
html,
body {
    height: 100%;
    /* 确保 html 和 body 高度为 100% */
    margin: 0;
    /* 去除默认的 margin */
    padding: 0;
    /* 去除默认的 padding */
}

.divRight {
    position: relative;
    top: -100%;
    left: 50%;
    height: 100%;
    width: 50%;
    flex-direction: column;
    background-color: blueviolet;
}

td {
    color: white;
}

/* body {
    background-color: black;
} */

.imgSize {
    max-width: 10px;
    max-height: 10px;
    width: auto;
    /* 保持宽高比 */
    height: auto;
    /* 保持宽高比 */
}

.app {
    position: relative;
    top: 0;
    right: 0;
    height: 50%;
    width: 50%;
    background-color: chocolate;
}

.blue {
    position: relative;
    left: 25%;
    width: 75%;
    margin: 10px;
    padding: 20px;
    background-color: blue;
}